.Hero{
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
}

.heroHeadingContainer{
    font-family: 'Crimson Text', serif;
    font-size: 3em;
    font-weight: 700;
    color: #000;
    margin: 0;
    padding: 0;
    height: 35%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heroHeading{
    padding-top: 20px;
    color: #000;
}

.heroImageContainer{
    width: 75%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.heroImage{
    width: 100%;
    height: 95%;
    object-fit: cover;
    border-radius: 10px;
}